@model IEnumerable<Users>

@{
    ViewData["Title"] = "Home Page";
}

    @foreach (var item in Model)
    {
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/imgtest.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">Name</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    }

